.admin-panel {
    display: flex;
  }
  
  .main-content {
    flex: 1;
    background-color: #f8f9fa;
    width:1000px;
  }
  .content{
    padding: 20px;
    width: 100%;
  }
  .Navbar{
    width: 500px;
  }
  